# OpenAI
OPENAI_API_KEY=

# Postgres
POSTGRES_USER=edu
POSTGRES_PASSWORD=edu_pass
POSTGRES_DB=evolved_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Chroma
CHROMA_API_HOST=http://chroma:8000

# App
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
